@model IList<Author>


                          
<div class="listgroup">
    @foreach (var item in Model)
    {
        <button type="button" class="btn btn-outline-warning">

            <a class="text-decoration-none"
           asp-controller="Blog"
           asp-action="Author"
           asp-route-slug="@item.UrlSlug">
                @item.FullName
            </a>
        </button>
    }
</div>