@model IPagedList<Post>
@{
    ViewData["Title"]="Trang Chủ";
}
<h1>
    Đây là trang chủ
</h1>
<p>
    <div class="p-4">
       
            @foreach (var postItem in Model)
            {
                <partial name="_PostList" model="postItem" />
           }
     
       
    </div>
</p>